/**
 * Site styles related to layouts
 */

.main__toolbar {
    border-bottom: 1px #EBEBEB solid;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    height: $toolbar-height-px;
    position: fixed;
}

.container {
    position: relative;
    margin-top: $container-margin-top-px;
}
