/**
 * Define variables which would be re-used by components throughout the site
 */

$toolbar-height-value: 50;
$container-margin-top-value: 50;

$toolbar-height-px: $toolbar-height-value + px;
$container-margin-top-px: $toolbar-height-value + $container-margin-top-value + px;
