/**
 * Add to product button
 */

.product-buy_button {
    bottom: 0;
    display: none;
    margin: 0;
    position: absolute;
    width: 100%;

    .md-button.md-raised:not([disabled]):hover {
        background-color: #000;
        color: #FFF;
    }

    .md-button {
        background-color: #000;
        color: #FFF;
    }
}
