/**
 * Product tile styles
 */

.product-tile__wrapper {
    margin-bottom: 20px;
    outline: none;
}

.product-tile {
    background-color: #EBEBEB;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    max-height: 400px;
    margin: 8px;
    position: relative;
    max-width: 300px;

    &:hover {
        cursor: pointer;

        .product-buy_button {
            display: block;
        }
    }
}

.product-image {
    height: auto;
    max-height: 380px;
    width: 100%;
}

.product-name {}
