/**
 * Cart table styles
 */

.cart-table {
    table.md-table {
        th {
            text-align: center;
        }
    }
}

table.md-table td.md-cell.md-numeric,
table.md-table th.md-column.md-numeric {
    text-align: center;
}
