<md-toolbar class="main__toolbar">
    <div class="md-toolbar-tools">
        <a ui-sref="product.list"><h3>Shopping Website</h3></a>
        <span flex></span>
        <cart-total-button></cart-total-button>
    </div>
</md-toolbar>
