<div class="filters__wrapper" layout="row" layout-align="start center">
    <div layout-xs="column" layout="row" layout-align="start center" flex-gt-md="70" layout-wrap layout-margin>
        <span class="md-body-2">Refine by</span>
        <md-input-container class="filter__select">
            <md-select ng-model="filter" multiple="true" placeholder="By Gender">
                <md-select-label>Gender</md-select-label>
                <md-option ng-value="gender" ng-repeat="gender in ['Female', 'Male'] track by $index">{{ gender }}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="filter__select">
            <md-select ng-model="filter" multiple="true" placeholder="Order by">
                <md-select-label>Order by</md-select-label>
                <md-option ng-value="asc">Low to High</md-option>
                <md-option ng-value="dsc">High to Low</md-option>
                <md-option ng-value="pop">Popularity</md-option>
                <md-option ng-value="rating">Rating</md-option>
            </md-select>
        </md-input-container>
    </div>
</div>
