<div class="product-tile__wrapper" ng-click="viewProduct(product)">
    <div class="product-tile" layout="column" layout-align="space-between stretch">
        <img class="md-card-image product-image" ng-if="product.imageUrl" ng-src="{{ 'app/assets/images/product/' + product.imageUrl  }}" alt="{{ product.name }}">
        <img class="md-card-image product-image" ng-if="!product.imageUrl" ng-src="app/assets/images/product/product_default.jpg" alt="{{ product.name }}">
        <add-to-basket product="product" quantity="1"></add-to-basket>
    </div>
    <div class="product-name" layout="row" layout-align="center center">
        <span class="md-body-1">{{ product.name }}</span>
    </div>
    <div class="product-pricing" layout="row" layout-align="center center">
        <span class="md-body-2">£{{ product.price }}</span>
    </div>
</div>
