<md-dialog aria-label="{{ vm.product.name }}">
    <form ng-submit="addToBasket" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ vm.product.name }}</h2>
                <span flex></span>
                <close-modal></close-modal>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>{{ vm.product.description }}</h2>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-input-container md-no-float="true">
                <input type="number" name="addQuantity" ng-model="addQuantity" placeholder="Add Quantity" ng-max="vm.product.quantity">
            </md-input-container>
            <span flex></span>
            <add-to-basket product="product" quantity="addQuantity"></add-to-basket>
        </md-dialog-actions>
    </form>
</md-dialog>
