<md-content class="container" layout="row" layout-align="space-around center" layout-wrap>
    <div hide show-gt-sm flex></div>
    <div ng-if="!vm.basketHelper.getBasketTotalQuantity()">
        <span class="md-headline">There are no items in your basket.</span>
    </div>
    <div ng-if="vm.basketHelper.getBasketTotalQuantity()" flex>
        <md-table-container>
            <table class="cart-table" md-table ng-model="vm.selected">
                <thead md-head>
                    <tr md-row>
                        <th md-column md-order-by="nameToLower">Item</th>
                        <th md-column md-numeric md-order-by="" style="text-align: center;">Quantity</th>
                        <th md-column md-numeric>Price</th>
                        <th md-column md-numeric>Total</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="product in vm.cartList track by $index">
                        <td md-cell>{{ product.name }}</td>
                        <td md-cell>
                            <div layout="row" layout-align="center center">
                                <md-button class="md-icon-button" aria-label="Remove item" md-no-ink="true" ng-click="vm.removeFromBasket(product, -1)">
                                    <md-icon class="material-icons">remove_circle_outline</md-icon>
                                </md-button>
                                <span>{{ product.quantity }}</span>
                                <md-button class="md-icon-button" aria-label="Add item" md-no-ink="true" ng-click="vm.addToBasket(product, 1)">
                                    <md-icon class="material-icons">add_circle_outline</md-icon>
                                </md-button>
                            </div>
                        </td>
                        <td md-cell>&pound; {{ product.price }}</td>
                        <td md-cell>&pound;{{ (product.price * product.quantity) | number : 2 }}</td>
                    </tr>
                    <tr md-row>
                        <td md-cell><b>Total</b></td>
                        <td md-cell>
                            <b>{{ vm.basketHelper.getBasketTotalQuantity() }} items</b>
                        </td>
                        <td md-cell></td>
                        <td md-cell><b>&pound; {{ vm.basketHelper.getBasketTotal() | number : 2 }}</b></td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <div layout="column" layout-align="start stretch">
            <!-- <div layout="row" layout-align="space-between center" layout-fill>
                <span>Add Voucher</span>
                <md-input-container>
                    <label>Voucher</label>
                    <input type="text" ng-model="voucher.code">
                </md-input-container>
                <md-button class="md-raised md-primary" aria-label="Apply voucher button" md-no-ink="true">
                    <span>Apply Voucher</span>
                </md-button>
            </div> -->
           <!--  <div layout="row" layout-align="end center" layout-fill>
                <md-button class="md-raised md-primary" aria-label="Payment button" md-no-ink="true">
                    <span>Proceed to Payment</span>
                </md-button>
            </div> -->
        </div>
        <!-- <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination> -->
    </div>
    <div hide show-gt-sm flex></div>
</md-content>
