<h1><code ng:non-bindable="">addToBasket</code>
<div><span class="hint">directive in module <code ng:non-bindable="">app.product</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-product-directives-page app-product-directives-addtobasket-page"><p>A directive button which adds the specified product along with the quantity to the Basket</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="api/app.product.factory:BasketHelper">BasketHelper</a></code>
</li>
<li><code ng:non-bindable=""><a href="api/app.product.factory:ProductHelper">ProductHelper</a></code>
</li>
<li><code ng:non-bindable=""><a href="api/app.core.factory:ToastHelper">ToastHelper</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;add-to-basket&gt;
&lt;/add-to-basket&gt;</pre>
</div>
</div>
