<h1><code ng:non-bindable="">productRoutes</code>
<div><span class="hint">object in module <code ng:non-bindable="">app.product</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-product-config-page app-product-config-productroutes-page"><p>Config block which defines all the routes within the &#39;Product&#39; module</p>
</div></div>
</div>
