<h1><code ng:non-bindable="">cartRoutes</code>
<div><span class="hint">object in module <code ng:non-bindable="">app.cart</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-cart-config-page app-cart-config-cartroutes-page"><p>The config block which defines all the routes within the Cart module</p>
</div></div>
</div>
