<h1><code ng:non-bindable="">ProductModals</code>
<div><span class="hint">service in module <code ng:non-bindable="">app.product</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-product-factory-page app-product-factory-productmodals-page"><p>A modals helper factory for the Product module</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_viewproduct">viewProduct()</h3>
<div class="viewproduct"><div class="app-product-factory-page app-product-factory-productmodals-viewproduct-page"><p>Opens the product detail dialog window</p>
</div></div>
</li>
</ul>
</div>
</div>
