<h1><code ng:non-bindable="">configBlock</code>
<div><span class="hint">object in module <code ng:non-bindable="">app</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-core-page app-core-configblock-page"><p>Config and run block</p>
</div></div>
</div>
