<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="api/ngResource">ngResource</a></code>
</li>
<li><code ng:non-bindable=""><a href="api/ngAria">ngAria</a></code>
</li>
<li><code ng:non-bindable=""><a href="api/ngMaterial">ngMaterial</a></code>
</li>
<li><code ng:non-bindable=""><a href="api/ngMessages">ngMessages</a></code>
</li>
<li><code ng:non-bindable=""><a href="api/ngAnimate">ngAnimate</a></code>
</li>
<li><code ng:non-bindable=""><a href="api/ngSanitize">ngSanitize</a></code>
</li>
<li><code ng:non-bindable=""><a href="api/md.data.table">table</a></code>
</li>
<li><code ng:non-bindable=""><a href="api/ui.router">router</a></code>
</li>
<li><code ng:non-bindable=""><a href="api/app.cart">cart</a></code>
</li>
<li><code ng:non-bindable=""><a href="api/app.core">core</a></code>
</li>
<li><code ng:non-bindable=""><a href="api/app.product">product</a></code>
</li>
</ul>
<div class="app-page"><p>Main module of the application.</p>
</div></div>
