<h1><code ng:non-bindable="">run</code>
<div><span class="hint">service in module <code ng:non-bindable="">app.core</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-core-run-page"><p>Adds run blocks to this module</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="api/ng.$rootScope">$rootScope</a></code>
</li>
<li><code ng:non-bindable=""><a href="api/ui.router.$state">$state</a></code>
</li>
<li><code ng:non-bindable=""><a href="api/ui.router.state.$stateParams">$stateParams</a></code>
</li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_run">run()</h3>
<div class="run"><div class="app-core-run-run-page"><p>Add UI Router $state and $stateParams to the $rootScope for convenience</p>
</div></div>
</li>
<li><h3 id="methods_runpagetransitions">runPageTransitions()</h3>
<div class="runpagetransitions"><div class="app-core-run-runpagetransitions-page"><p>todo: show and hide page loader visual elements
Handle:</p>
<ul>
<li>State change start</li>
<li>State change success</li>
<li>State change error</li>
<li>State not found</li>
</ul>
</div></div>
</li>
</ul>
</div>
</div>
