<h1><code ng:non-bindable="">CartListController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">app.cart</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-cart-controllers-page app-cart-controllers-cartlistcontroller-page"><p>Controller bound to the list of all the cart items</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="api/BasketHelper">BasketHelper</a></code>
</li>
</ul>
</div>
