<h1><code ng:non-bindable="">cartTotalButton</code>
<div><span class="hint">directive in module <code ng:non-bindable="">app.cart</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-cart-directives-page app-cart-directives-carttotalbutton-page"><p>A button which displays the current Cart total
On click, this will navigate to the cart list view</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="api/ui.router.$state">$state</a></code>
</li>
<li><code ng:non-bindable=""><a href="api/app.product.factory:BasketHelper">BasketHelper</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;cart-total-button&gt;
&lt;/cart-total-button&gt;</pre>
</div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_navigatetocartlist">navigateToCartList()</h3>
<div class="navigatetocartlist"><div class="app-cart-directives-page app-cart-directives-carttotalbutton-navigatetocartlist-page"><p>Navigate to the Shopping cart list view</p>
</div></div>
</li>
</ul>
</div>
</div>
