<h1><code ng:non-bindable="">ToastHelper</code>
<div><span class="hint">service in module <code ng:non-bindable="">app.core</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-core-factory-page app-core-factory-toasthelper-page"><p>A helper factory related to displaying &#39;toast&#39; messages across the application</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="api/ngMaterial.$mdToast">$mdToast</a></code>
</li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_showtoast">showToast()</h3>
<div class="showtoast"><div class="app-core-factory-page app-core-factory-toasthelper-showtoast-page"><p>Shows a simple toast message</p>
</div></div>
</li>
</ul>
</div>
</div>
