<h1><code ng:non-bindable="">BasketHelper</code>
<div><span class="hint">service in module <code ng:non-bindable="">app.product</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-product-factory-page app-product-factory-baskethelper-page"><p>A helper which deals with all &#39;Basket&#39; related functionality</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="api/app.product.factory:ProductQuery">ProductQuery</a></code>
</li>
<li><code ng:non-bindable=""><a href="api/app.core.factory:ToastHelper">ToastHelper</a></code>
</li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_addtobasket">addToBasket(product, quantity)</h3>
<div class="addtobasket"><div class="app-product-factory-page app-product-factory-baskethelper-addtobasket-page"><p>Adds an item to the basket if it passes all requirements and checks</p>
</div><h5 id="methods_addtobasket_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>product</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="app-product-factory-page app-product-factory-baskethelper-addtobasket-page"><p>The Product object</p>
</div></td></tr><tr><td>quantity</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="app-product-factory-page app-product-factory-baskethelper-addtobasket-page"><p>Quantity of the product to be added to the basket</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_getbasket">getBasket()</h3>
<div class="getbasket"><div class="app-product-factory-page app-product-factory-baskethelper-getbasket-page"><p>Get the basket list</p>
</div></div>
</li>
<li><h3 id="methods_getbaskettotal">getBasketTotal()</h3>
<div class="getbaskettotal"><div class="app-product-factory-page app-product-factory-baskethelper-getbaskettotal-page"><p>Get the total value of the basket</p>
</div></div>
</li>
<li><h3 id="methods_getbaskettotalquantity">getBasketTotalQuantity()</h3>
<div class="getbaskettotalquantity"><div class="app-product-factory-page app-product-factory-baskethelper-getbaskettotalquantity-page"><p>Get the total quantity of items in the basket</p>
</div></div>
</li>
<li><h3 id="methods_getproductfrombasket">getProductFromBasket(product)</h3>
<div class="getproductfrombasket"><div class="app-product-factory-page app-product-factory-baskethelper-getproductfrombasket-page"><p>Returns the specified product, if found, from the basket list</p>
</div><h5 id="methods_getproductfrombasket_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>product</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="app-product-factory-page app-product-factory-baskethelper-getproductfrombasket-page"><p>The Product object</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_removefrombasket">removeFromBasket(product, quantity)</h3>
<div class="removefrombasket"><div class="app-product-factory-page app-product-factory-baskethelper-removefrombasket-page"><p>Removes the specified number of an item from the basket</p>
</div><h5 id="methods_removefrombasket_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>product</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="app-product-factory-page app-product-factory-baskethelper-removefrombasket-page"><p>The Product object</p>
</div></td></tr><tr><td>quantity</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="app-product-factory-page app-product-factory-baskethelper-removefrombasket-page"><p>Quantity of the product to be removed from the basket</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_updatebasket">updateBasket(product, quantity)</h3>
<div class="updatebasket"><div class="app-product-factory-page app-product-factory-baskethelper-updatebasket-page"><p>Updates the specified product in basket list with the specified quantity</p>
</div><h5 id="methods_updatebasket_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>product</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="app-product-factory-page app-product-factory-baskethelper-updatebasket-page"><p>The Product object</p>
</div></td></tr><tr><td>quantity</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="app-product-factory-page app-product-factory-baskethelper-updatebasket-page"><p>Quantity of the product to be removed from the basket</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_updatebaskettotal">updateBasketTotal(product, quantity)</h3>
<div class="updatebaskettotal"><div class="app-product-factory-page app-product-factory-baskethelper-updatebaskettotal-page"><p>Updates the basketTotal with the specified quantity of the product</p>
</div><h5 id="methods_updatebaskettotal_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>product</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="app-product-factory-page app-product-factory-baskethelper-updatebaskettotal-page"><p>The Product object</p>
</div></td></tr><tr><td>quantity</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="app-product-factory-page app-product-factory-baskethelper-updatebaskettotal-page"><p>Quantity of the product</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
