<h1><code ng:non-bindable="">closeModal</code>
<div><span class="hint">directive in module <code ng:non-bindable="">app.core</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-core-directives-page app-core-directives-closemodal-page"><p>A button directive that closes the $mdDialog modal</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;close-modal&gt;
&lt;/close-modal&gt;</pre>
</div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_closemodalfn">closeModalFn()</h3>
<div class="closemodalfn"><div class="app-core-directives-page app-core-directives-closemodal-closemodalfn-page"><p>Call the $mdDialog cance button to close the dialog window</p>
</div></div>
</li>
</ul>
</div>
</div>
