<h1><code ng:non-bindable="">MainController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">app.core</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-core-controllers-page app-core-controllers-maincontroller-page"><p>The main controller which displays a list of all items</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="api/app.product.factory:ProductHelper">ProductHelper</a></code>
</li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_init">init()</h3>
<div class="init"><div class="app-core-controllers-page app-core-controllers-maincontroller-init-page"><p>Fetch the product list on load</p>
</div></div>
</li>
</ul>
</div>
</div>
