<h1><code ng:non-bindable="">productTile</code>
<div><span class="hint">directive in module <code ng:non-bindable="">app.product</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-product-directives-page app-product-directives-producttile-page"><p>A tile which displays the &quot;closed state&quot; of a product</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="api/app.product.factory:BasketHelper">BasketHelper</a></code>
</li>
<li><code ng:non-bindable=""><a href="api/app.product.factory:ProductModals">ProductModals</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;product-tile&gt;
&lt;/product-tile&gt;</pre>
as attribute<pre class="prettyprint linenums">&lt;ANY product-tile&gt;
   ...
&lt;/ANY&gt;</pre>
</div>
</div>
