<h1><code ng:non-bindable="">coreRoutes</code>
<div><span class="hint">object in module <code ng:non-bindable="">app.core</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-core-config-page app-core-config-coreroutes-page"><p>The config block of the core module which defines all the routes within the module</p>
</div></div>
</div>
