<h1><code ng:non-bindable="">ProductHelper</code>
<div><span class="hint">service in module <code ng:non-bindable="">app.product</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-product-factory-page app-product-factory-producthelper-page"><p>A helper factory which serves product related data from the mocks file</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="api/ng.$http">$http</a></code>
</li>
<li><code ng:non-bindable=""><a href="api/ng.$q">$q</a></code>
</li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_getproduct">getProduct(product)</h3>
<div class="getproduct"><div class="app-product-factory-page app-product-factory-producthelper-getproduct-page"><p>Returns the matched product object from the inventory list</p>
</div><h5 id="methods_getproduct_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>product</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="app-product-factory-page app-product-factory-producthelper-getproduct-page"><p>The Product object</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_getproductslist">getProductsList()</h3>
<div class="getproductslist"><div class="app-product-factory-page app-product-factory-producthelper-getproductslist-page"><p>Returns the inventory list</p>
</div></div>
</li>
</ul>
</div>
</div>
