<h1><code ng:non-bindable="">ProductViewController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">app.product</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-product-controllers-page app-product-controllers-productviewcontroller-page"><p>Controller bound to the view to display a single Product</p>
</div></div>
</div>
