/**
 * The main scss import file
 * This imports the module files from each of the __module.scss from each module
 */
/**
 * Define variables which would be re-used by components throughout the site
 */
/**
 * Site styles related to layouts
 */
.main__toolbar {
  border-bottom: 1px #EBEBEB solid;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  height: 50px;
  position: fixed;
}

.container {
  position: relative;
  margin-top: 100px;
}

/**
 * All styles related to the app.cart module
 */
/**
 * Cart table styles
 */
.cart-table table.md-table th {
  text-align: center;
}

table.md-table td.md-cell.md-numeric,
table.md-table th.md-column.md-numeric {
  text-align: center;
}

/**
 * All styles related to the app.product module
 */
/**
 * Styles related to the filters
 */
.filters__wrapper {
  border-bottom: 1px #EBEBEB solid;
  height: 64px;
  width: 100%;
}

.filter__select {
  min-width: 200px;
}

/**
 * Include all the individual styles related to the product module
 */
/**
 * Add to product button
 */
.product-buy_button {
  bottom: 0;
  display: none;
  margin: 0;
  position: absolute;
  width: 100%;
}

.product-buy_button .md-button.md-raised:not([disabled]):hover {
  background-color: #000;
  color: #FFF;
}

.product-buy_button .md-button {
  background-color: #000;
  color: #FFF;
}

/**
 * Product tile styles
 */
.product-tile__wrapper {
  margin-bottom: 20px;
  outline: none;
}

.product-tile {
  background-color: #EBEBEB;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  max-height: 400px;
  margin: 8px;
  position: relative;
  max-width: 300px;
}

.product-tile:hover {
  cursor: pointer;
}

.product-tile:hover .product-buy_button {
  display: block;
}

.product-image {
  height: auto;
  max-height: 380px;
  width: 100%;
}
